.film-card-content {
    background: linear-gradient(to bottom right, #000000 0%, #663310 100%);
    border: 1px solid black;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}


.film-card {
    display: flex;
}
.film-card-contain{
    padding:0 10px;
}
.releaseyear {
    font-size: 15px;
    margin: 5px;
    color: rgb(161, 153, 153);
}

.film-card-poster {
    height: 180px;
    width: 130px;
    border-radius: 3px;
    object-fit: cover;

}

.film-card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 5px;
}

.ratingImg {
    margin: 0 10px;
    height: 15px;
}

.shortDescription {
    margin-top: 0;
    padding: 5px;
    font-size: 15px;
}

.rating-container {
    margin-top: 0;

    padding: 0;
}

.rating {
    margin-top: 0;
    font-size: 18px;
    display: inline-block;
    width: 150px;
}

.film-card-director {
    font-size: 15px;
    color: rgb(238, 234, 234);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    position: absolute;
    right: 10px;
}

.category {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;

}

.deletebtn {
    padding: 2px;
    margin: 10px;
}

/* ===== Media Queries ===== */

/* Tablet View */
@media screen and (min-width: 481.5px)and (max-width: 768px) {
  .film-card {
    flex-direction: row;
    align-items: center;
  }

 
  .buttons {
    position: static;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .rating,
  .category,
  .film-card-director {
    font-size: 14px;
    display: block;
    text-align:left;
  }
  .button-container{
    display: inline-block;
    width: 350px;
  }
  .rating-container{
     margin-top:0;
  }
}

/* Mobile View */
@media (max-width: 480px) {
    .film-card {
    flex-direction: column;
    align-items: center;
      padding:0 10px;
  }

  .rating,
  .category,
  .film-card-director {
    font-size: 14px;
    display: block;
    text-align: center;
  }
  .film-card-content {
    padding: 10px;
     margin:0;
  }

  .film-card-title {
    font-size: 18px;
    text-align: center;
  }

  .releaseyear {
    text-align: center;
    font-size: 14px;
  }

  .film-card-poster {
    width: 100%;
    height: 200px;
  }

  .shortDescription {
   
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    padding:0 10px;
  }

  .button-container{
    display: inline-block;
    width: 350px;
  }
  .rating-container{
     margin-top:0;
  }
  .rating-container,
  .buttons {
   position: static;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    
  }

  .buttons button {
    width: 100%;
    margin-bottom: 5px;
  }
  .rating {
    margin-top: 0;
    font-size: 18px;
    display: inline-block;
    width: 350px;
}

}