.imgAddFilm{
    position: fixed;
    right: 20px;
    bottom: 10px;
    height: 50px;
}
.home-heading{
   color: rgb(82, 56, 11);
   text-align: center;
}
.home-container{
 display: block;
 margin: 0 auto;
  max-width: 900px;
  
}