.btn-container{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: black;
    padding:10px 30px;
    border-radius: 25px;
    border: none;
    color: #ccc;
    cursor: pointer;
    margin: 0 20px;
    font-size: 15px;
    
}
.primary{
    background-color: rgb(226, 43, 61);
     color: rgb(39, 38, 38);
}
.secondary{
    background-color: rgb(255, 123, 0);
     color: rgb(39, 38, 38);
}